# Day 7 : Challenge Questions- Dictionary

Solve Each of the Below Questions and Submit Your Answers on Linked in Post within 48 Hours. Attach Screenshots Preferably. If you are not able to Solve, comment "Unable to Solve" or "Need More Time"

# Question 1: Understanding Set Operations and Methods

**Creating and Accessing Sets**

1. Create a set A containing the elements: {2, 4, 6, 8, 10}.
2. Create another set B with the elements: {1, 2, 3, 4, 5}.
3. Verify if the element 6 is in set A and if 7 is not in set B.

**Set Operations**

1. Find the union of sets A and B.
2. Determine the intersection of sets A and B.
3. Compute the difference of set A from set B.

**Modifying Sets**

1. Add the elements 12 and 14 to set A.
2. Remove the element 3 from set B.
3. Clear all elements from set A and confirm its emptiness.

In [1]:
## Creating and Accessing Sets

### 1. Create a set A containing the elements: {2, 4, 6, 8, 10}.

set_A = {2,4,6,8,10}
print(set_A)

### 2. Create another set B with the elements: {1, 2, 3, 4, 5}.

set_B = {1, 2, 3, 4, 5}
print(set_B)

### 3.Verify if the element 6 is in set A and if 7 is not in set B.

is_6_in_setA = 6 in set_A
print(is_6_in_setA)

is_7_not_in_setB = 7 not in set_B
print(is_7_not_in_setB)

{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5}
True
True