**Question 1**

Given the Following Nested List. Write a Python Code to Extract the number 10 from the nested list.

In [1]:
data = [
    [1, 2, [3, 4], 5],
    [6, [7, 8, [9, 10]], 11],
    [12, 13, 14]
]

**Question 2**

Given the following nested dictionary. Write a Python Code to retrieve the plus4 value of the zipcode.

In [2]:
person = {
    'name': 'Alice',
    'age': 30,
    'address': {
        'city': 'New York',
        'zipcode': {
            'main': 10001,
            'plus4': 1234
        }
    }
}

**Question 3**

Use a while loop to sum all the even numbers between 1 and 100

**Question 4**

Given a deeply nested list. Write a Python Code to Flatten this nested list into a single list: [1, 2, 3, 4, 5]

In [4]:
nested_list = [1, [2, [3, [4, [5]]]]]

**Question 5**

You are given a list of sets, where each set contains integers. Write a Python code that finds the elements that are common to at least half of the sets in the list.

In [6]:
sets_list = [
    {1, 2, 3, 4, 5},
    {4, 5, 6, 7, 8},
    {5, 6, 7, 8, 9},
    {1, 5, 9, 10, 11},
    {5, 11, 12, 13, 14}
]

**Question 6**

Write a Python program using a while loop to reverse the digits of a given positive integer.

In [8]:
n=12345

**Question 7**

Write a Python program using a while loop that repeatedly sums the digits of a given positive integer until the result is a single digit.

For example, for n=9875, sum1=9+8+7+5=29 sum2=2+9=11 sum3=1+1=2 . So Answer is 2

In [10]:
n = 9875

**Question 8**

Write Python code to extract and print the names of people who have a salary greater than 70000.

In [12]:
nested_tuple = (
    ('Alice', 50000),
    ('Bob', 60000),
    ('Charlie', 45000),
    ('David', 70000),
    (('Eve', 80000), ('Frank', 55000)),
    (('Grace', 75000), ('Helen', 65000)),
    ((('Ivy', 72000), ('Jack', 58000)), (('Kate', 68000), ('Larry', 63000)))
)

**Question 9**

Write Python code using dictionary comprehension to extract and print the names of cities with a total population greater than or equal to 3000000.

In [16]:
nested_dict = {
    'New York': {
        'Manhattan': 1636268,
        'Brooklyn': 2559903,
        'Queens': 2253858,
        'Bronx': 1418207,
        'Staten Island': 476015
    },
    'Los Angeles': {
        'Central LA': 1253400,
        'Westside': 1297759,
        'San Fernando Valley': 1764282,
        'South LA': 1114964
    },
    'Chicago': {
        'Downtown': 2716000,
        'North Side': 1973000,
        'South Side': 1745000
    }
}

**Question 10**

Write a Python program that takes a list of integers as input, sorts the list in descending order, and returns a list containing only the distinct elements from the sorted list.

In [17]:
arr = [3, 1, 5, 2, 4, 1, 3, 5]